<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bbs.felixonandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name="org.bbs.felix.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.bbs.felix.activity.bundlemanager.BundleListActivity"  
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.bbs.felix.activity.bundlemanager.BundleDetailActivity"    
            android:label="bundle detail" >
            <intent-filter>
                <action android:name="android.intent.action.NOOP" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.bbs.felix.activity.bundlemanager.DictionaryActivity"
               android:label="dictionary" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

               <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.bbs.osgi.activity.BundleActivity"  
            android:label="BandleManager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
